.status {
	position: absolute;

	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 50px;
}

.loader {
	margin: 50px 0;

	display: inline-flex;
	align-items: center;

	width: 70px;
	height: 12px;
}
.loader {
	position: relative;
	width: 60px;
	height: 60px;

	border-radius: 50%;

	border: 5px solid #0001;

	transform-origin: 50% 50%;
	animation: spinner-wiggle 1.2s infinite;
}
.loader:before,
.loader:after {
	content: '';
	position: absolute;
	inset: -5px;
	border-radius: 50%;
	box-sizing: border-box;
	border: 5px solid #0000;
	animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite;
}
.loader:before {
	border-top-color: #0005;
}

@keyframes spinner-spin {
	100% {
		transform: rotate(360deg);
	}
}
